*{
    font-family: 'Anton', sans-serif;
    color: rgba(255, 255, 255, 0.629);
    
}

header{
    width: 100%;
    float: left;
}

body{
    background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
    width: 100%;
    height: 1500px;
    overflow-x: hidden;
}

/*------------------MAIN------------------*/

.naglowek{
    float: left;
    background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
    height: 200px;
    width:  100% ;
    text-align: center;
    border-radius: 10px 50px 10px 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
}


.ImieNazwisko{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.47);
}

main{
    margin-top: 100px ;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 800px;
    width: 100%;
    float: left;
}

.zdj{
    float: left;
    height: 900px;
    width: 400px;
    margin-top: 100px;
    margin-left: -350px;
    
}

    .zdj img{
        max-width: 100%;
        height: auto;
        display: block;
        opacity: 80%;
        box-shadow: 10px 10px 8px black ;

    }

.dane{
    width: 500px;
    height: 900px;
    margin-top: -70px;
    margin-left: 100px;
    float: left;
    
}
    .dane h2{
        font-size: 80px;
    }
    td{
        padding: 10px;
        font-size: 30px;
    }

hr{
    border: 2px solid rgba(255, 255, 255, 0.47);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}
@media (max-width: 420px) {

    main{
        margin-top: 40px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;   /* jeden pod drugim */
        align-items: center;
        justify-content: flex-start;

        float: none;
    }

    .naglowek{
        height: 140px;
        border-radius: 10px;
    }

    .ImieNazwisko{
        font-size: 38px;
    }

    .zdj{
        width: 90%;
        height: auto;
        margin: 30px 0;
        float: none;
    }

    .dane{
        width: 90%;
        height: auto;
        margin: 0;
        float: none;
        text-align: center;
    }

    .dane h2{
        font-size: 36px;
    }

    td{
        font-size: 20px;
        padding: 6px;
    }

}

/*------------------INDEX------------------*/

.body_index{
    background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
}

.doroslosc{
    float: left;
    font-size: 70px;
    width: 100%;
    color: rgba(255, 255, 255, 0.47);
    text-align: center;
}

.btn_dorosly{
    height: 150px;
    width: 300px;
    border-radius: 10px 50px 10px 50px;
    background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
    font-size: 40px;

}
.btn_dorosly:hover{
    box-shadow: 0px 10px 5px rgba(255, 255, 255, 0.827);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.827);
    background-image: none;
    color: rgb(0, 0, 0);
}
.btn_dorosly:active{
    box-shadow: none;
    transform: translateY(15px);
}

@media (max-width: 430px) {

    .body_index{
        background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
        width: 100%;
        height: 100%;
    }

    .doroslosc{
        float: left;
        font-size: 40px;
        width: 100%;
        color: rgba(255, 255, 255, 0.47);
        text-align: center;
    }

    .btn_dorosly{
        height: 100px;
        width: 250px;
        border-radius: 10px 50px 10px 50px;
        background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
        font-size: 30px;
 
    }
    .btn_dorosly:hover{
        box-shadow: 0px 10px 5px rgba(255, 255, 255, 0.827);
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.827);
        background-image: none;
        color: rgb(0, 0, 0);
    }
    .btn_dorosly:active{
        box-shadow: none;
        transform: translateY(15px);
    }
}




