*{
    font-family: 'Anton', sans-serif;
    color: rgba(255, 255, 255, 0.629);
    
}

header{
    width: 100%;
    float: left;
}

body{
    background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
    width: 100%;
    height: 1500px;
    overflow-x: hidden;
}

/*------------------MAIN------------------*/

.naglowek{
    float: left;
    background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
    height: 200px;
    width:  100% ;
    text-align: center;
    border-radius: 10px 50px 10px 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
}


.ImieNazwisko{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.47);
}

.glowne{
    align-items: center ;
    position: relative;
    display: flex;
    width: 100%;
    height: 1000px;
    float: left;
}

.zdj{
    float: left;
    height: 800px;
    width: 50%;
    margin-top: 100px;
    margin-left: 200px;
    
}

    .zdj img{
        float: right;
        margin-right: 200px;
        max-width: 400px;
        height: auto;
        display: block;
        opacity: 80%;
        box-shadow: 10px 10px 8px black ;

    }

.dane{
    margin-top: 10px;
    width: 50%;
    height: 800px;
    float: left;
    
}
    .dane h2{
        font-size: 80px;
    }
    td{
        padding: 10px;
        font-size: 30px;
    }

hr{
    border: 2px solid rgba(255, 255, 255, 0.47);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

.dziecinstwo{
    height: auto;
    float: left;
    font-size: 70px;
    width: 100%;
    color: rgba(255, 255, 255, 0.47);
    text-align: center;
}

.grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 70px);
    gap: 130px;
    justify-content: center;
}

.tile{
    position: relative;
    margin-left: -65px;
    filter: blur(2px);
    width: 170px;
    height: 170px;
    background: rgba(70, 70, 70, 0.9);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.25),
        0 8px 15px rgba(0,0,0,0.8);

    transition: transform 0.2s ease, box-shadow 0.2s ease;


}

.tile:hover{
    transform: translateY(-4px);
    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.35),
        0 12px 20px rgba(0,0,0,0.9);
    cursor: pointer;
}

.tile::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;    
    height: 4px;        
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%) rotate(-45deg); 
    pointer-events: none; 
}

.tile18{
    text-decoration: none;
    margin-left: -65px;
    width: 170px;
    height: 170px;
    background: rgba(70, 70, 70, 0.9);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.25),
        0 8px 15px rgba(0,0,0,0.8);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tile18:hover{
    transform: translateY(-4px);
    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.35),
        0 12px 20px rgba(0,0,0,0.9);
    cursor: pointer;
}



@media (max-width: 450px) {
    .naglowek{
        float: left;
        background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
        height: 150px;
        width:  100% ;
        text-align: center;
        border-radius: 10px 50px 10px 50px;
        display: flex;
        justify-content: center; 
        align-items: center;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
    }


    .ImieNazwisko{
        font-size: 40px;
        color: rgba(255, 255, 255, 0.47);
    }

    .glowne{
        align-items: center ;
        position: relative;
        display: grid;
        width: 100%;
        height: auto;
        float: left;
    }

    .zdj{
        float: left;
        height: auto;
        width: 30%;
        margin: 30px 0px -10px 85%;
        
    }

        .zdj img{
            width: 180px;
            height: auto;
            display: block;
            opacity: 80%;
            box-shadow: 10px 10px 8px black ;

        }

    .dane{
        width: 100%;
        height: auto;
        float: left;
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 30px;
                
    }
        .dane h2{
            margin-left: -20%;
            margin-bottom: -5px;
            text-align: center;
            font-size: 40px;
        }
        td{
            padding: 5px;
            font-size: 15px;
        }

    hr{
        border: 2px solid rgba(255, 255, 255, 0.47);
        margin-bottom: 30px;
        margin-top: 30px;
        width: 80%;
    }

    .dziecinstwo{
        height: auto;
        float: left;
        font-size: 40px;
        width: 100%;
        color: rgba(255, 255, 255, 0.47);
        text-align: center;
    }

    .grid{
        grid-template-columns: repeat(3, 70px);
        gap: 16px;
    }

    .tile{
        margin-left: 0px;
        width: 65px;
        height: 65px;
        font-size: 20px;
    }
    
    .tile18{
        margin-left: 0px;
        width: 65px;
        height: 65px;
        font-size: 20px;
    }

}



/*------------------INDEX------------------*/

.body_index{
    background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
}

.doroslosc{
    height: auto;
    float: left;
    font-size: 70px;
    width: 100%;
    color: rgba(255, 255, 255, 0.47);
    text-align: center;
}


/* From Uiverse.io by 212004ALJI */ 
button,button::after {
  padding: 50px 100px;
  font-size: 40px;
  border: none;
  border-radius: 10px 50px 10px 50px;
  color: white;
  background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'Let\'s Go!';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}



@media (max-width: 430px) {

    .body_index{
        background-image: radial-gradient(circle, rgb(28, 28, 28), rgb(15, 15, 15), rgb(0, 0, 0));
        width: 100%;
        height: 100%;
    }

    .doroslosc{
        float: left;
        font-size: 40px;
        width: 100%;
        color: rgba(255, 255, 255, 0.47);
        text-align: center;
    }

    .btn_dorosly{
        height: 100px;
        width: 250px;
        border-radius: 10px 50px 10px 50px;
        background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
        font-size: 30px;
 
    }
    .btn_dorosly:hover{
        box-shadow: 0px 10px 5px rgba(255, 255, 255, 0.827);
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.827);
        background-image: none;
        color: rgb(0, 0, 0);
    }
    .btn_dorosly:active{
        box-shadow: none;
        transform: translateY(15px);
    }
}

/*------------------FILMIK------------------*/
.mainFilmik{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

.filmik{
    background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
    float: left;
    margin-top: 100px;
    margin-left: 20%;
    width: 900px;  
    height: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
    font-size: 30px;


}

.filmik video{
    width: 800px;
    border-radius: 20px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
}

@media (max-width: 450px) {
    .filmik{
        background-image: url(Zrzut\ ekranu\ 2025-12-17\ 234522.png);
        float: left;
        margin-top: 50px;
        margin-left: 47px;
        width: 326px;
        height: 190px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
        font-size: 20px;
    }
    
    .filmik video{
        width: 280px;
        border-radius: 20px;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.827);
    }
}

